# dependencies
node_modules

# testing
coverage

# production
build
docs

# Local development
.DS_Store
.elasticbeanstalk/logs
.env
.eslintcache
.idea
.trash

# misc
npm-debug.log*
package-log.json

#localstackstuff
lambda_stuff/devCommentsArn.json
lambda_stuff/devPostsArn.json
lambda_stuff/container.txt
